<div class='div1'>
    <div class='container'>
        <h2 class='p-2 m-2 text-danger'>Random Spots In Lisbon</h2>
    </div>


<div class="container pt-5">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="/images/spoeiras.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Skatepark Oeiras</h5>
                    <p class="card-text">Manequim feminino restaurado com altura regulável (1.58x1.73cm).</p>
                    <a href="/spoeiras" class="btn btn-danger">See spot</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="/public/images/spcaldasdarainha.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Skatepark Caldas Da Rainha</h5>
                    <p class="card-text">Betão e alguns materiais reaproveitados.</p>
                    <a href="/spcaldasdarainha" class="btn btn-danger">See spot</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="/images/spsaosebastiao.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Skatepark São Sebastião</h5>
                    <p class="card-text">Oportunidade proporcionada pelo restaurante "O Pratinho Feio".</p>
                    <a href="/spsaosebastiao" class="btn btn-danger">See spot</a>
                </div>
            </div>
        </div>
    </div>
</div>




</div>