<div class='div1'>
    <div class='container'>
        <h2 class='p-2 m-2 text-danger'>Random Spots In Lisbon</h2>
    </div>


<div class="container pt-5">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="https://source.unsplash.com/random" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Praça Figueira</h5>
                    <p class="card-text">Manequim feminino restaurado com altura regulável (1.58x1.73cm).</p>
                    <a href="#" class="btn btn-danger">See spot</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="https://source.unsplash.com/random" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Skatepark Ericeira</h5>
                    <p class="card-text">Betão e alguns materiais reaproveitados.</p>
                    <a href="#" class="btn btn-danger">See spot</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="https://source.unsplash.com/random" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Terreiro do Paço</h5>
                    <p class="card-text">Oportunidade proporcionada pelo restaurante "O Pratinho Feio".</p>
                    <a href="#" class="btn btn-danger">See spot</a>
                </div>
            </div>
        </div>
    </div>
</div>




</div>