<div class="card" style="width: 20rem;">
    <img src="/images/fig.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Praça Figueira</h5>
        <p class="card-text">Manequim feminino restaurado com altura regulável (1.58x1.73cm).</p>
        <a href="#" class="btn btn-danger">Comprar</a>
    </div>
</div>