</br></br></br>

<form method="post" action="/createSpot/{{user._id}}">
  <div class="form-group">
    <label for="spotName">Spot Name</label>
    <input type="text" class="form-control" placeholder="Spot Name">
  </div>
  <div class="form-group">
    <label for="adress">Adress</label>
    <input type="text" class="form-control" placeholder="Adress">
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <select class="form-control" id="city">
      {{#each city}}
      <option>{{this}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label for="spotType">Spot type</label>
    <select class="form-control" >
      <option>Skate Park</option>
      <option>Flat</option>
      <option>Rail</option>
      <option>Stairs</option>
      <option>Ramp</option>
    </select>
  </div>
    <label for="coordinates">Coordinates</label>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Latitude">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Longitude">
    </div>
  </div>
  </br>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
</form>

