<h2>Upload a new Picture</h2>
<form action="/picture/add" method="post" enctype="multipart/form-data">
  <label>Title</label>
  <input type="text" name="title">

  <label>Description</label>
  <input type="text" name="description">

  <label>Poster</label>
  <input type="file" name="photo">

  <input type="submit" value="SAVE">
</form>