<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-1 fixed-top">
        <a class="navbar-brand" href="#">
            {{!-- <img src="/images/aspot.svg" width="80" height="80" alt=""> --}}
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/userUpdate/update">Update Your info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/createSpot/create">create a Spot</a>
                </li>
                <form method="POST" action="/user/signout">
                    <button class="btn">Sign Out</button>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/user/signin">Sign-in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/signup">Sign-up</a>
                </li>
                {{/if}}
                <li class="nav-item">
                    <a class="nav-link" href="/map/mapcanvas">map</a>
                </li>
                </form>
            </ul>
        </div>
    </nav>
</div>
    {{{body}}}
  </body>
</html>
