</br>
</br>
</br>

<div class="card text-center">
  <div class="card-header">
    <h2> Your profile <strong> {{username}}</strong> </h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">
     
<strong>Username:</strong> {{username}} <br/>
 <strong>Email:</strong> {{email}}

    </h5>
    <a href="/update/{{user._id}}" class="btn btn-primary">Edit</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

<div class="card-deck">
  {{#each spotList}}
    {{> spotcard spot=this username=../username}}
  {{/each}}
</div>