<h2> Celebrity details</h2>

<ul>
  <li><strong>Username:</strong> {{user.username}}</li>
  <li><strong>Email:</strong> {{user.email}}</li>
</ul>
{{!-- select the id and add it to my url, but also adding a path for the EDIT and DELETE route --}}
<a href="/celebrities/{{user._id}}/edit" class="btn btn-outline-primary">Edit</a>
<a href="/celebrities/{{user._id}}/delete" class="btn btn-outline-danger">Delete</a>
