</br></br></br>

<form method='post' action="/update/{{user._id}}">
  <div class="form-group">
    <label for="updateUsername">Username</label>
    <input type="text" name='username' class="form-control"  aria-describedby="emailHelp" value={{username}}>
  </div>
    <div class="form-group">
    <label for="updateEmail">Email</label>
    <input type="email" name="email" class="form-control"  aria-describedby="emailHelp" value={{email}}>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>