$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: #00b7ff;

body {
  margin: 0;
  padding: 50px;
  font-family: $font-sans;
  background: url('/public/images/skatepark.jpg') no-repeat center center fixed;
}

a {
  color: $link-color;
}
